<div class="row">
  @if(juegos){ @for (juego of juegos; track juego.juego_id) {

  <div class="col-12 col-md-6 col-lg-4 col-xl-3 g-4">
    <div class="card" (click)="click(juego.nombre)">
      <div class="card-img">
        <img src="{{ juego.imagen }}" class="card-img-top" />
      </div>

      <div class="card-body">
        <h5 class="card-title">{{ juego.nombre }}</h5>
      </div>
    </div>
  </div>
  } }
</div>

<nav class="navigation my-4">
  <ul class="pagination">
    <li class="page-link" (click)="anterior()">Anterior</li>
    <li class="page-link" (click)="siguiente()">Siguiente</li>
  </ul>
</nav>
<!--
Extra Pequeño	Ninguno	<576px
Pequeño	sm	≥576px
Medio	md	≥768px
Grande	lg	≥992px
Extra grande	xl	≥1200px
Extra extra grande	xxl	≥1400px
-->
